/**********************************************************************************************
 *   This is the main CSS, I have chosen to use both Grid and Flex To see how i can mix them. *
 *   However for most of the Layout i have used grid as the assignment requires.              *
 *   I have used flex where i thought grid to be less efficient.                              *
 **********************************************************************************************/



/* ====================================================GENERAL======================================================== */
html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #eceff1;
}

h1 {
    font-size: 4.8rem;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 3.2rem;
    font-weight: 600;
    margin: 0;
}


/* ================================================HEADER=========================================================== */
header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    z-index: 1;
}

/* ++++top section++++ */

.top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 3rem;
}

.search {
    display: flex;
    align-items: center;

}

.search img {
    height: 3.2rem;
    width: 3.2rem;
}

.search input {
    border: none;
    background-color: #bdbdbd;
    color: #ffffff;
    padding: 1rem;
    font-size: 2.4rem;
    font-weight: 400;
    border-radius: 1.2rem;
    width: 80%;
    flex-shrink: 1;
    margin-left: 3rem;
}

.user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.user img:first-child {
    height: 3.2rem;
    width: 3.2rem;
    padding: 2rem;
}

.user-image {
    height: 6.4rem;
    width: 6.4rem;
    padding: 2rem;
    border-radius: 50%;
}


/* ++++bottom section++++ */
.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
}

.bottom-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.bottom img {
    height: 12.8rem;
    width: 12.8rem;
    border-radius: 50%;
}

.hero-text p {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0;
}

.bottom-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
}

.bottom-right button {
    border: none;
    background-color: #0288d1;
    color: #ffffff;
    border-radius: 3.2rem;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    width: 15rem;
    padding: 2rem;
}



/* ====================================================SIDEBAR===================================================== */
.sidebar {
    background-color: #0288d1;
    color: white;
    padding: 2rem;
    min-height: 100vh;
    margin: 0;
}

.sidebar .dashboard-icon {
    width: 7.2rem;
    height: 7.2rem;
    filter: invert(1);
}

.sidebar .dashboard-heading {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav img {
    width: 3.2rem;
    height: 3.2rem;
    filter: invert(1);
}

a {
    display: flex;
    align-items: center;
    gap: 3rem;
    text-decoration: none;
    color: white;
    font-size: 3.2rem;
    font-weight: 700;
}

.general-nav {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.user-control {
    margin-top: 100px;
    margin-bottom: 100px;
}

.general-nav li,
.user-control li {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
}

/* =================================================CONTENT=============================================== */
.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: 4rem;
    margin-right: 2rem;
    column-gap: 4rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4rem;
    margin-top: 2rem;
}

.projects article {
    display: flex;
    flex-direction: column;
    border-left: orange solid 1.5rem;
    background-color: #fafafa;
    min-width: 30rem;
    min-height: 30rem;
    border-radius: 2rem;
    padding: 3rem;
}

.project-title {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 1rem;

}

.projects article img:nth-child(3){
    transform: rotate(-90deg);
}

.projects article p:nth-child(2) {
    font-size: 2.4rem;
    font-weight: 400;
    color: #616161;
    margin-bottom: 1rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    gap: 4rem;
}

article img {
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
}

/* =====================================================NEWS=================================================== */
.news {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.news article {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fafafa;
    border-radius: 2rem;
    padding: 3rem;
    min-width: 20rem;
    min-height: 48rem;
}

.news article img {
    width: 7.2rem;
    height: 7.2rem;
    border: #bdbdbd solid 0.1rem;
    border-radius: 50%;
    margin-top: 3rem;
}

.news article h3 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.news article p {
    font-size: 2rem;
    font-weight: 400;
    color: #616161;
    margin-top: 1rem;
}

.news .trending-item{
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* overide the h3 weight for thi one */
.news article .trending-item h3{
    font-weight: 400;
}

/* +++++++++++++++ all articles box shadow ++++++++++++++++*/
article{
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
}
